
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
.header {
  height: 5vh;
background-color: #002c58;
    display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 999;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.header .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .nav-links a {
text-decoration: none;
color: #fff;
padding: 0 12px;
position: relative;
}
#search {
  padding: 3px 30px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: inset 0 0 10px rgba(161, 159, 159, 0.5);
border: 1px solid rgb(255, 255, 255, .6);
margin-top: 2px;
cursor: pointer;
}
#search::placeholder {
  color: #fff;
}
.search-container {
  position: absolute;
  right: 50px;
  top: 1px;
  overflow-y: hidden;
}
.search-container .fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff; 
}
.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}


.dropdown {
  position: relative; 
  z-index: 999999999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002c58;
  border: 1px solid #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999999;
  top: 45%; 
  left: 0;
  white-space: nowrap;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
}

.dropdown-content a {
  color: #fff;
  padding: 7px 5px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10;
}
.fa-bars {
  display: block !important;
  font-size: 40px !important;
  color: #635f5f;
  position: absolute;
  top: 15px;
  right: 15px;
}



.curtain-menu {
  background: url('/assets/images/xidmetler/bg.jpeg');
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 999999999;
  overflow-x: hidden;
  transition: 0.5s ease;
  border: 1px solid #000;
  box-shadow: 20px 20px 20px #000;
}

.curtain-menu.aktiv {
  width: 70%;
}

.curtain-menu .mobile-links {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.curtain-menu .mobile-links a {
  margin-top: 50px;
  margin-left: 40px;
  color: #fff;
  opacity: .8;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}

.curtain-menu .mobile-links a::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
  transition: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }

  100% {
    opacity: 1;
  }
}

.curtain-menu.aktiv a {
  opacity: 1;
  animation: appear 0.8s backwards;
}

.curtain-menu .fa-circle-xmark {
  color: #fff;
  opacity: .8;
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

/* about */
.about {
  height: 100vh;
}

/* experience */
.experience {
  height: 20vh;
  background-color: #002c58;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 40px;
}

.counter-container span {
font-size: 20px;
color: #ddddddb0;
font-style: italic;
}



.mhdetails ,
.vergidetails , .auditdetails , .hrdetails , .ucotdetails , .huquqdetails {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #002c58;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;
}
.mhdetails.aktiv, 
.vergidetails.aktiv, 
.auditdetails.aktiv, 
.hrdetails.aktiv, 
.ucotdetails.aktiv, 
.huquqdetails.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}


.mhdetails .fa-circle-xmark , .vergidetails .fa-circle-xmark , .auditdetails .fa-circle-xmark , .hrdetails .fa-circle-xmark , .ucotdetails .fa-circle-xmark  , .huquqdetails .fa-circle-xmark {
  font-size: 40px;
  position: fixed;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.mhdetails li ,
.vergidetails li, .auditdetails li, .hrdetails li, .ucotdetails li, .huquqdetails li {
  font-size: 20px;
}
.mhdetails h3 ,
.vergidetails h3, .auditdetails h3, .hrdetails h3, .ucotdetails h3, .huquqdetails h3 {
font-weight: 800;
}
.mhdetails .mh-cards1, .mhdetails .mh-cards2 {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.mhdetails .mh-cards2 {
  margin-top: -40px;
}
.mhdetails .mh-cards1 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.mhdetails .mh-cards2 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.mhdetails .mh-cards1 h6 {
  font-size: 14px;
}
.mhdetails .mh-cards1 .mh-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.mhdetails .mh-cards1 .mh-card2 h6 {
  color: #021528;
}
.mhdetails .mh-cards1 .mh-card3 {
  background: linear-gradient(135deg, #cb11a99c, #e108a0e9);
}
.mhdetails .mh-cards1 .mh-card4 {
  background: linear-gradient(135deg, #fff, #a250d98f, #b849e4b4);
}
.mhdetails .mh-cards1 .mh-card5 {
  background: linear-gradient(135deg, #26c7239c, #16c247b4);
}
.mhdetails .mh-cards2 .mh-card6 {
  background: linear-gradient(135deg,#fff, #ec9006, #e27602);
}
.mhdetails .mh-cards2 .mh-card7 {
  background: linear-gradient(135deg,#fff, #e74504, #ff5100);
}
.mhdetails .mh-cards2 .mh-card8 {
background-color: #fff;
}
.mhdetails .mh-cards2 .mh-card8 {
  color: #021528;
}
.mhdetails .mh-cards2 .mh-card9 {
  background: linear-gradient(135deg, #fff, #40e0d0, #05808c, #000);
}
.vergi-cards1 , .vergi-cards2 {
  display: flex;
  gap: 15px;
}
.vergi-cards1 {
  padding-left: 160px;
}
.vergi-cards2 {
  padding-left: 282px;
  margin-top: -50px;
}
.vergi-cards1 .card, .vergi-cards2 .card {
  width: 230px;
  height: 260px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}


/* xidmetler */
.xidmet {
  background-color: var(--bgcolor);
}

/* introduction */
.introduction {
  height: 95vh;
  background: url('images/header/logo.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 9;
}


/* slider section  */


.slider {
  height: 100vh;
  margin-top: -10px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .content {
  position: absolute;
  top: 17%;
  width: 1140px;
  max-width: 80%;
  left: 45%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.slider .list .item .type {
  color: #fff;
}

.xidmet .description li {
  font-size: 17px;
}

.xidmet .content .title {
  font-size: 30px !important;
  margin-bottom: 20px;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 110px;
  left: 56%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 5px;
}

.thumbnail .item {
  width: 200px !important;
  height: 200px !important;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.xidmet .thumbnail .item h2 {
  position: absolute;
  z-index: 999;
  bottom: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255, .4);
  border-radius: 8px;
  padding: 0 8px;
}
/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 91%;
  right: 20%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}


.xidmet .slider  h1 {
  font-weight: 200;
  position: absolute;
  bottom: 30px;
  right:70px;
  color: #fff;
}

.xidmet .etrafli {
  margin-top: 20px;
  padding: 3px 20px;
  border-radius: 15px;
  border: 1px solid #fff !important;
  background-color: transparent;
  color: #fff;
  margin-left: 30px;
  font-style: italic;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
  z-index: 100;
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px); /* Başlangıçta yukarıda */
    opacity: 0; /* Başlangıçta görünmez */
  }
  100% {
    transform: translateY(0); /* Son durumda orijinal konumuna döner */
    opacity: 1; /* Son durumda görünür hale gelir */
  }
}

.xidmet .slider h1 {
  animation: slideIn 1s ease-out; /* slideIn animasyonunu 1 saniyede uygula */
}


@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}


.slider.next .thumbnail {
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.xidmet .etrafli {
border: none;
background-color: none;
}


/* telimler */
.telimler {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
background: url('/assets/images/telimler/telimlerfon2.jpeg');
background-size: cover;
}
.telimler .container {
  display: flex;
  border: 1px solid #002c58;
  background-color: #ffffffdb;
  border-radius: 10px;
}
.telimler .card {
  width: 600px;
  height: 500px;
  margin: 25px 10px;
  box-shadow: 10px 10px 20px black;
  overflow: hidden;
  border: 2px solid #333435;
  border-radius: 20px;
}
.telimler .card:first-child img {
object-position: -12px center;
}
.telimler .card:nth-child(2) img {
margin-bottom: 70px;
}
.telimler img {
height: 100%;
width: 100%;
border-radius: 3px;
}
.telimler .intro {
  height: 70px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: #002c58;
  color: #fff;
  transition: .7s;
}
.telimler .intro h1 {
  margin: 10px;
  font-size: 25px;
  text-transform: capitalize;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: clip;
}
.telimler .intro p {
  font-size: 15px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  color: #000;
}
.telimler .intro ul li {
  font-weight: 200;
  color: #000;
  font-size: 13px;
}
.telimler .card:hover {
  cursor: pointer;
  width: 2000px !important;
  transition: .8s ease;
}
.telimler .card:hover .intro {
  height: 500px;
bottom: 0;
  background: url('./images/telimler/fon.jpeg');
  background-position: center center;
  background-size: cover;
}
.telimler .card:hover p {
  opacity: 1;
  visibility: visible;
  display: block;
  text-align: justify;
  padding: 0 20px;
}
.telimler .card:hover img {
  transform: scale(1.1) ;
}
.telimler .card:hover h1 {
  color: #000;
  font-weight: 600;
}
.card img {
  object-fit: cover;
}

/* contact-menu */

.contact-menu {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-size: 25px;
}
.contact-menu a {
  color: #002c58;
}

/* meqaleler */
.bizkimik {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #002c58;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;
}

.bizkimik.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.bizkimik .fa-circle-xmark {
  font-size: 40px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.bizkimik .h6b {
  border: 1px solid #fff;
  background-color: #ddd;
  color: #021528;
  border-radius: 20px;
  padding: 20px;
}
.bizkimik .card {
  max-width: 350px;
  min-width: 350px;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}
.bizkimik .b-left .card {
  border-radius: 40px 3px 40px 3px;
}
.bizkimik .b-right .card {
  border-radius: 3px 40px 3px 40px;
}
.bizkimik .b-right .card h1 {
  border-radius: 3px 45px 3px 45px;
  width: 110px;
  height: 96%;
  position: absolute;
  right: 1%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: #fff;
  font-size: 22px;
}
.bizkimik .b-left .card h1 {
  border-radius: 45px 3px 45px 3px;
  width: 110px;
  height: 96%;
  position: absolute;
  left: 1%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: #fff;
  font-size: 22px;
}
.bizkimik .cardb1 h1 {
 background: linear-gradient(to right,#9178bf, #dc58c8);
}
.bizkimik .cardb2 h1 {
  background: linear-gradient(to right,#6e51a4, #823dbb);
 }
 .bizkimik .cardb3 h1 {
  background: linear-gradient(to right,#5846b5, #463587);
 }
 .bizkimik .cardb4 h1 {
  background: linear-gradient(to right,#597ecf, #6b778a);
 }
 .bizkimik .cardb5 h1 {
  background: linear-gradient(to right,#479cb1, #4ac3e2);
 }
 .bizkimik .cardb6 h1 {
  background: linear-gradient(to right,#b14765, #e53544);
 }
 .bizkimik .cardb7 h1 {
  background: linear-gradient(to right,#da8f27, #e87612);
 }
 .bizkimik .cardb8 h1 {
  background: linear-gradient(to right,#d4cb25, #dfcf29);
 }
 .bizkimik .cardb9 h1 {
  background: linear-gradient(to right,#79e784, #4db856);
 }
 .bizkimik .cardb10 h1 {
  background: linear-gradient(to right,#479cb1, #34884d);
 }
.bizkimik .cardb1 {
  top: 10%;
  left: 150px;
  position: absolute;
}
.bizkimik .cardb5 {
  bottom: 10%;
  left: 150px;
  position: absolute;
}
.bizkimik .cardb2 {
  top: 27%;
  left: 70px;
  position: absolute;
}
.bizkimik .cardb4 {
  bottom: 27%;
  left: 70px;
  position: absolute;
}
.bizkimik .cardb3 {
  top: 43%;
  left: 20px;
  position: absolute;
}
.bizkimik .cardb6 {
  top: 10%;
  right: 150px;
  position: absolute;
}
.bizkimik .cardb10 {
  bottom: 10%;
  right: 150px;
  position: absolute;
}
.bizkimik .cardb7 {
  top: 27%;
  right: 70px;
  position: absolute;
}
.bizkimik .cardb9 {
  bottom: 27%;
  right: 70px;
  position: absolute;
}
.bizkimik .cardb8 {
  top: 43%;
  right: 20px;
  position: absolute;
}

.meqsedimiz {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #002c58;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;

}

.meqsedimiz.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.meqsedimiz .fa-circle-xmark {
  font-size: 40px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.vakansiya {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #002c58;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;

}

.vakansiya.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.vakansiya .fa-circle-xmark {
  font-size: 40px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.vakansiya .scrollable-box {
  width: 100%; /* Kutunun genişliği */
  height: 80vh; /* Kutunun yüksekliği */

  padding: 10px; /* İç boşluk */
  overflow-y: scroll; /* Sadece dikey kaydırma çubuğu */
  overflow-x: hidden; /* Yatay kaydırmayı devre dışı bırak */
  box-sizing: border-box; /* İçeriğin taşmamasını sağlar */
}

/* Kaydırma çubuğunu özelleştirme (isteğe bağlı) */
.vakansiya .scrollable-box::-webkit-scrollbar {
  width: 15px; /* Kaydırma çubuğu genişliği */
}

.vakansiya .scrollable-box::-webkit-scrollbar-thumb {
  background: #ddd; /* Kaydırma çubuğu rengi */
  border-radius: 10px; /* Yuvarlak kenarlar */
}

.vakansiya .scrollable-box::-webkit-scrollbar-thumb:hover {
  background: #dddddda3; /* Üzerine gelince renk değişir */
}
.vakansiya h5 {
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
}
.vakansiya ul li {
  font-size: 18px;
}
.vakansiya a {
  font-style: italic;
  text-decoration: none;
  color: #ddd;
}

.partners {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #002c58;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;

}

.partners.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.partners .fa-circle-xmark {
  font-size: 40px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.swiper {
  width: 100%;
  height: 30vh;
}

.swiper-slide {
  background-color: #002c58;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
}


.meqaleler {
  background-color: #021528;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.meqaleler video {
height: 100vh;
}
.meqaleler .container {
  position: absolute;
  top: 0;
}
.mg-left .mg-left-img {
  width: 200px;
  border-radius: 50%;
}
.mg-left {
  height: 100vh;
  display: flex;
  justify-content: center;
align-items: center;
}


.mg-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px; /* Fotoğraf ile çerçeve arasındaki mesafe */
  border: 3px solid #fff; /* Dairevi çizgi (border) */
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 80px;
  margin-bottom: 30px;
  cursor: pointer;
}
.mg-right .right1 {
  flex-direction: column;
  padding: 10px 200px;
  background-color: #fff;
  margin: 30px 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
 position: relative;
 border: 1px solid #002c58;
 color: #002c58;
}
.right1 p {
  font-size: 10px;
  white-space: nowrap;
}

.mg-right .img1 {
  height: 120%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 40px;
  object-fit: cover; /* Fotoğrafın daireyi doldurması için */
  border: 10px solid rgb(0, 44, 88, .7); /* Transparan border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Küçük gölge */
}
.mg-right .img2 {
  height: 120%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 40px;
  object-fit: cover; /* Fotoğrafın daireyi doldurması için */
  border: 10px solid rgb(0, 44, 88, .7); /* Transparan border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Küçük gölge */
}
.mg-right .img3 {
  height: 120%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 40px;
  object-fit: cover; /* Fotoğrafın daireyi doldurması için */
  border: 10px solid rgb(0, 44, 88, .7); /* Transparan border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Küçük gölge */
}
.mg-right .img4 {
  height: 120%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 40px;
  object-fit: cover; /* Fotoğrafın daireyi doldurması için */
  border: 10px solid rgb(0, 44, 88, .7); /* Transparan border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Küçük gölge */
}
.right2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px; /* Fotoğraf ile çerçeve arasındaki mesafe */
  border: 3px solid #fff; /* Dairevi çizgi (border) */
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  height: 80px;
  margin-bottom: 30px;
  margin-left: 90px;
  cursor: pointer;
}
.right2 p {
  font-size: 10px;
  white-space: nowrap;
}
.mg-right .right2 {
  flex-direction: column;
  padding: 10px 200px;
  background-color: #fff;
  margin: 30px 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
 position: relative;
 border: 1px solid #002c58;
 color: #002c58;
}
.right3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px; /* Fotoğraf ile çerçeve arasındaki mesafe */
  border: 3px solid #fff; /* Dairevi çizgi (border) */
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  height: 80px;
  margin-bottom: 30px;
  margin-left: 90px;
  cursor: pointer;
}
.mg-right .right3 {
  flex-direction: column;
  padding: 10px 200px;
  background-color: #fff;
  margin: 30px 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
 position: relative;
 border: 1px solid #002c58;
 color: #002c58;
}
.right3 p {
  font-size: 10px;
  white-space: nowrap;
}
.right4-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px; /* Fotoğraf ile çerçeve arasındaki mesafe */
  border: 3px solid #fff; /* Dairevi çizgi (border) */
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  height: 80px;
  margin-bottom: 30px;
  cursor: pointer;
}
.mg-right .right4 {
  flex-direction: column;
  padding: 10px 200px;
  background-color: #fff;
  margin: 30px 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
 position: relative;
 border: 1px solid #002c58;
 color: #002c58;
}
.right4 p {
  font-size: 10px;
  white-space: nowrap;
}
.long-line1 {
  margin-left: 20px;
  width: 150%;
  height: 2px;
  background-color: #002c58; /* Çizginin rengi */
}
.vertical-line1 {
  height: 200px; /* Dikey çizginin yüksekliği */
  width: 2px;
  background-color: #002c58; /* Çizginin rengi */
  margin-left: 20px; /* Yatay çizgi ile dikey çizgi arasındaki mesafe */
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Fotoğraf ile çerçeve arasındaki mesafe */
  border: 25px solid #fff; /* Dairevi çizgi (border) */
  border-radius: 50%; /* Çerçeveyi dairesel yapmak için */
  border-left: transparent;
  border-bottom: transparent;
  border-top: transparent;
}

/* blog */
.blog {
  height: 100vh;
}
.blog .blog-cards .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px; /* Kartlar arasındaki boşluk */
  flex-wrap: nowrap; /* İçeriğin sarılmasına izin ver */
}

.blog h1 {
  border: 1px solid #000;
}
.blog .blog-cards .card {
  border: 1px solid #000;
  background-color: #ddd;
  height: 70vh;
  border-radius: 30px;
width: 18vw;
}
/* footer */
.footer {
  height: 25vh;
background-color: #002c58;
}
.footer .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-img img {
  width: 200px;
}
.footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-links a {
  font-size: 18px;
  color: #fff;
  padding: 0 12px;
}

@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }

  .slider .list .item .content .title {
    font-size: 50px;
  }
}

@media(min-width:768px) and (max-width:992px) {
  .intro {
    height: 450px;
  }

  .thumbnail .item {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
  }

  .xidmet .description li {
    font-size: 22px;
    white-space: nowrap;
  }

  .xidmet .content .title {
    font-size: 35px !important;
    margin-bottom: 20px;
  }
}

@media(min-width:992px) {
  .xidmet .description li {
    font-size: 22px;
    white-space: nowrap;
  }
.fa-bars {
  display: none !important;
}
  .xidmet .content .title {
    font-size: 30px !important;
    margin-bottom: 20px;
  }

  .thumbnail .item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    position: relative;
  }
}

@media(max-width:576px) {
 .header .nav-links {
display: none !important;
 }
 .header {
  height: 10vh;
 }
 .introduction {
  height: 90vh !important;
  background-position: center top !important;
  background: url('images/header/mobilefon.jpg');
  background-size: cover;
 }
 .xidmet .slider  h1 {
  font-weight: 800;
  position: absolute;
  bottom: 25px;
  right: 20px;
}
.telimler .container .card {
  width: 300px;
  height: 420px;
}
.telimler .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.telimler {
  height: 252vh;
}
.telimler .card:hover {
  width: 350px !important;
}
.telimler .card:first-child {
  margin-top: 100px;
}
.telimler .card:hover .intro {
  height: 100%;
  width: 100%;
}
.telimler .card:hover .card img {
  width: 100%;
}
.telimler p {
  font-size: 11px !important;
}
.footer img {
  margin-top: 50px;
}
}