
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
.header {
  height: 5vh;
background-color: #002c58;
    display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 999;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.header .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .nav-links a {
text-decoration: none;
color: #fff;
padding: 0 12px;
position: relative;
}
#search {
  padding: 3px 30px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: inset 0 0 10px rgba(161, 159, 159, 0.5);
border: 1px solid rgb(255, 255, 255, .6);
margin-top: 2px;
cursor: pointer;
}
#search::placeholder {
  color: #fff;
}
.search-container {
  position: absolute;
  right: 50px;
  top: 1px;
  overflow-y: hidden;
}
.search-container .fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff; 
}
.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}


.dropdown {
  position: relative; 
  z-index: 999999999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002c58;
  border: 1px solid #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999999;
  top: 45%; 
  left: 0;
  white-space: nowrap;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
}

.dropdown-content a {
  color: #fff;
  padding: 7px 5px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10;
}
.fa-bars {
  display: block !important;
  font-size: 40px !important;
  color: #635f5f;
  position: absolute;
  top: 15px;
  right: 15px;
}



.curtain-menu {
  background: url('/assets/images/xidmetler/bg.jpeg');
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 999999999;
  overflow-x: hidden;
  transition: 0.5s ease;
  border: 1px solid #000;
  box-shadow: 20px 20px 20px #000;
}

.curtain-menu.aktiv {
  width: 70%;
}

.curtain-menu .mobile-links {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.curtain-menu .mobile-links a {
  margin-top: 50px;
  margin-left: 40px;
  color: #fff;
  opacity: .8;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}

.curtain-menu .mobile-links a::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
  transition: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }

  100% {
    opacity: 1;
  }
}

.curtain-menu.aktiv a {
  opacity: 1;
  animation: appear 0.8s backwards;
}

.curtain-menu .fa-circle-xmark {
  color: #fff;
  opacity: .8;
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}


/* experience */
.experience {
  height: 20vh;
  background-color: #002c58;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 40px;
}

.counter-container span {
font-size: 20px;
color: #ddddddb0;
font-style: italic;
}



.mhdetails ,
.vergidetails , .auditdetails , .hrdetails , .ucotdetails , .huquqdetails {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #649ad1;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;
}
.mhdetails.aktiv, 
.vergidetails.aktiv, 
.auditdetails.aktiv, 
.hrdetails.aktiv, 
.ucotdetails.aktiv, 
.huquqdetails.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}
.mhdetails .card, 
.vergidetails .card, 
.auditdetails .card, 
.hrdetails .card, 
.ucotdetails .card, 
.huquqdetails .card {
  transition: transform 0.3s ease; /* Yumuşak geçiş */
}

.mhdetails .card:hover, 
.vergidetails .card:hover, 
.auditdetails .card:hover, 
.hrdetails .card:hover, 
.ucotdetails .card:hover, 
.huquqdetails .card:hover {
  transform: scale(1.1); /* Hover durumunda öğeyi %10 büyütme */
}


.mhdetails h3, .vergidetails h3 , .auditdetails h3 , .hrdetails h3 , .ucotdetails h3 , .huquqdetails h3 {
border-bottom: 1px solid #ffffff59;
height: 10px;
width: 100%;
}
.mhdetails .fa-xmark , .vergidetails .fa-xmark , .auditdetails .fa-xmark , .hrdetails .fa-xmark , .ucotdetails .fa-xmark  , .huquqdetails .fa-xmark {
  font-size: 30px;
  position: fixed;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.mhdetails li ,
.vergidetails li, .auditdetails li, .hrdetails li, .ucotdetails li, .huquqdetails li {
  font-size: 20px;
}
.mhdetails h3 ,
.vergidetails h3, .auditdetails h3, .hrdetails h3, .ucotdetails h3, .huquqdetails h3 {
font-weight: 800;
}
.mhdetails .mh-cards1, .mhdetails .mh-cards2 {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.mhdetails .mh-cards2 {
  margin-top: -40px;
}
.mhdetails .mh-cards1 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.mhdetails .mh-cards2 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.mhdetails .mh-cards1 h6, .mhdetails .mh-cards2 h6 {
  width: 160px;
  font-size: 12px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mhdetails .mh-cards1 .mh-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.mhdetails .mh-cards1 .mh-card2 {
  background: linear-gradient(135deg, #1196cb9c, #08cfe1e9);
}
.mhdetails .mh-cards1 .mh-card3 {
  background: linear-gradient(135deg, #cb11a99c, #e108a0e9);
}
.mhdetails .mh-cards1 .mh-card4 {
  background: linear-gradient(135deg, #fff, #a250d98f, #b849e4b4);
}
.mhdetails .mh-cards1 .mh-card5 {
  background: linear-gradient(135deg, #26c7239c, #16c247b4);
}
.mhdetails .mh-cards2 .mh-card6 {
  background: linear-gradient(135deg,#fff, #ec9006, #e27602);
}
.mhdetails .mh-cards2 .mh-card7 {
  background: linear-gradient(135deg,#fff, #e74504, #ff5100);
}
.mhdetails .mh-cards2 .mh-card8 {
  background: linear-gradient(135deg, #cb11a99c, #e108a0e9);
}
.mhdetails .mh-cards2 .mh-card9 {
  background: linear-gradient(135deg, #fff, #40e0d0, #05808c, #000);
}
.vergi-cards1 , .vergi-cards2 {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.vergi-cards1 {
  margin-left: -80px;
}
.vergi-cards2 {
  margin-top: -47px;
  margin-left: 155px;
}
.vergi-cards1 .card, .vergi-cards2 .card {
  width: 220px;
  height: 240px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.vergi-cards1 .card h6, .vergi-cards2 .card h6 {
  width: 160px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vergi-cards1 .vergi-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.vergi-cards1 .vergi-card2 {
  background: linear-gradient(135deg, #fff, #11cb5f9c, #4cd074b4);
}
.vergi-cards1 .vergi-card3 {
  background: linear-gradient(135deg, #fff, #cb11a39c, #c21686b4);
}
.vergi-cards2 .vergi-card4 {
  background: linear-gradient(135deg, #fff, #e02a069c, #cf5623b4);
}
.vergi-cards2 .vergi-card5 {
  background: linear-gradient(135deg, #fff, #d3dc859c, #e9e213b4);
}
.vergi-cards2 .vergi-card6 {
  background: linear-gradient(135deg, #fff, #11cbb89c, #167ac2b4);
}

.audit-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.audit-cards .card {
  width: 230px;
  height: 260px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.audit-cards .audit-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.audit-cards .audit-card2 {
  background: linear-gradient(135deg, #fff, #11cb659c, #16c2b1b4);
}
.audit-cards .audit-card3 {
  background: linear-gradient(135deg, #fff, #e023d7, #c2bc16b4);
}
.audit-cards .audit-card4 {
  background: linear-gradient(135deg, #fff, #8111cbd8, #e043f4b4);
}
.audit-cards h6 {
  width: 170px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hr-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.hr-cards .card {
  width: 230px;
  height: 260px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.hr-cards .hr-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.hr-cards .hr-card2 {
  background: linear-gradient(135deg, #fff, #11cb659c, #16c2b1b4);
}
.hr-cards .hr-card3 {
  background: linear-gradient(135deg, #fff, #e023d7, #c2bc16b4);
}
.hr-cards .hr-card4 {
  background: linear-gradient(135deg, #fff, #8111cbd8, #e043f4b4);
}
.hr-cards h6 {
  width: 170px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ucot-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.ucot-cards .card {
  width: 230px;
  height: 260px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.ucot-cards .ucot-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.ucot-cards .ucot-card2 {
  background: linear-gradient(135deg, #fff, #11cb659c, #16c2b1b4);
}
.ucot-cards .ucot-card3 {
  background: linear-gradient(135deg, #fff, #e023d7, #c2bc16b4);
}
.ucot-cards h6 {
  width: 170px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.huquq-cards1, .huquq-cards2 {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.huquq-cards1 {
  margin-left: -80px;
}
.huquq-cards2 {
  margin-top: -40px;
  margin-left: 130px;
}
.huquq-cards1 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.huquq-cards2 .card {
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
}
.huquq-cards1 .huquq-cards2 h6 {
  width: 170px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.huquq-cards1 .card h6, .huquq-cards2 .card h6 {
  width: 160px;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.huquq-cards1 .huquq-card1 {
  background: linear-gradient(135deg, #fff, #bbcb119c, #c2bc16b4);
}
.huquq-cards1 .huquq-card2 {
  background: linear-gradient(135deg, #fff, #11cb5f9c, #4cd074b4);
}
.huquq-cards1 .huquq-card3 {
  background: linear-gradient(135deg, #fff, #cb11a39c, #c21686b4);
}
.huquq-cards2 .huquq-card4 {
  background: linear-gradient(135deg, #fff, #e02a069c, #cf5623b4);
}
.huquq-cards2 .huquq-card5 {
  background: linear-gradient(135deg, #fff, #d3dc859c, #e9e213b4);
}
.huquq-cards2 .huquq-card6 {
  background: linear-gradient(135deg, #fff, #11cbb89c, #167ac2b4);
}



/* xidmetler */
.xidmet {
  background-color: var(--bgcolor);
}

/* introduction */
.introduction {
  height: 95vh;
  background: url('images/header/logo.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 9;
}


/* slider section  */


.slider {
  height: 100vh;
  margin-top: -10px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .content {
  position: absolute;
  top: 17%;
  width: 1140px;
  max-width: 80%;
  left: 45%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.slider .list .item .type {
  color: #fff;
}

.xidmet .description li {
  font-size: 17px;
}

.xidmet .content .title {
  font-size: 30px !important;
  margin-bottom: 20px;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 110px;
  left: 56%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 5px;
}

.thumbnail .item {
  width: 200px !important;
  height: 200px !important;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.xidmet .thumbnail .item h2 {
  position: absolute;
  z-index: 999;
  bottom: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255, .4);
  border-radius: 8px;
  padding: 0 8px;
}
/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 91%;
  right: 20%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}


.xidmet .slider  h1 {
  font-weight: 200;
  position: absolute;
  bottom: 30px;
  right:70px;
  color: #fff;
}

.xidmet .etrafli {
  margin-top: 20px;
  padding: 3px 20px;
  border-radius: 15px;
  border: 1px solid #fff !important;
  background-color: transparent;
  color: #fff;
  margin-left: 30px;
  font-style: italic;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
  z-index: 100;
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px); /* Başlangıçta yukarıda */
    opacity: 0; /* Başlangıçta görünmez */
  }
  100% {
    transform: translateY(0); /* Son durumda orijinal konumuna döner */
    opacity: 1; /* Son durumda görünür hale gelir */
  }
}

.xidmet .slider h1 {
  animation: slideIn 1s ease-out; /* slideIn animasyonunu 1 saniyede uygula */
}


@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}


.slider.next .thumbnail {
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.xidmet .etrafli {
border: none;
background-color: none;
}

/* contact-menu */

.contact-menu {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-size: 25px;
}
.contact-menu a {
  color: #002c58;
}

/* about-mobile */
.bizkimik {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #649ad1;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;
}
.bizkimik .b-right h6 {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 0;
  color: #fff;
}
.bizkimik .b-left h6 {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0;
  color: #fff;
}
.bizkimik.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.bizkimik .fa-xmark {
  font-size: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.bizkimik .circle .h6b {
  border: transparent;
  color: #021528;
color: #002c58;
font-size: 12px;
padding: 25px 10px 10px 10px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}
.bizkimik .circle {
  border-radius: 50%;
  background-color: #83baf1; /* Beyaz arka plan */
box-shadow: 
  inset -10px -10px 20px rgba(255, 255, 255, 0.9), /* Üst kenara parlaklık */
  inset 10px 10px 20px rgba(0, 0, 0, 0.3),        /* Alt kenara koyu gölge */
  inset 4px 4px 10px rgba(0, 0, 0, 0.2),          /* İçte ekstra gölge */
  -8px -8px 15px rgba(255, 255, 255, 0.7),        /* Dış üst parlaklık */
  8px 8px 15px rgba(0, 0, 0, 0.25);     
width: 330px;
height: 330px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
margin-left: 22px;
}
.bizkimik .card {
  max-width: 350px;
  min-width: 350px;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bizkimik .b-left .card {
  border-radius: 40px 3px 40px 3px;
}
.bizkimik .b-right .card {
  border-radius: 3px 40px 3px 40px;
}


.bizkimik .card .top-left {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 35px; /* Yazı ölçüsü */
  transform: scale(1, 1);
}

.bizkimik .card .bottom-right {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 35px;
  transform: scale(1, 1);
}

.bizkimik .cardb1 h6 {
 background: linear-gradient(to right,#9178bf, #dc58c8);
}
.bizkimik .cardb2 h6 {
  background: linear-gradient(to right,#6e51a4, #823dbb);
 }
 .bizkimik .cardb3 h6 {
  background: linear-gradient(to right,#5846b5, #463587);
 }
 .bizkimik .cardb4 h6 {
  background: linear-gradient(to right,#597ecf, #6b778a);
 }
 .bizkimik .cardb5 h6 {
  background: linear-gradient(to right,#479cb1, #4ac3e2);
 }
 .bizkimik .cardb6 h6 {
  background: linear-gradient(to right,#b14765, #e53544);
 }
 .bizkimik .cardb7 h6 {
  background: linear-gradient(to right,#da8f27, #e87612);
 }
 .bizkimik .cardb8 h6 {
  background: linear-gradient(to right,#d4cb25, #dfcf29);
 }
 .bizkimik .cardb9 h6 {
  background: linear-gradient(to right,#79e784, #4db856);
 }
 .bizkimik .cardb10 h6 {
  background: linear-gradient(to right,#479cb1, #34884d);
 }
.bizkimik .cardb1 {
  top: 10%;
  left: 150px;
  position: absolute;
}
.bizkimik .cardb5 {
  bottom: 10%;
  left: 150px;
  position: absolute;
}
.bizkimik .cardb2 {
  top: 27%;
  left: 70px;
  position: absolute;
}
.bizkimik .cardb4 {
  bottom: 27%;
  left: 70px;
  position: absolute;
}
.bizkimik .cardb3 {
  top: 43%;
  left: 20px;
  position: absolute;
}
.bizkimik .cardb6 {
  top: 10%;
  right: 150px;
  position: absolute;
}
.bizkimik .cardb10 {
  bottom: 10%;
  right: 150px;
  position: absolute;
}
.bizkimik .cardb7 {
  top: 27%;
  right: 70px;
  position: absolute;
}
.bizkimik .cardb9 {
  bottom: 27%;
  right: 70px;
  position: absolute;
}
.bizkimik .cardb8 {
  top: 43%;
  right: 20px;
  position: absolute;
}

.meqsedimiz {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #649ad1;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;

}

.meqsedimiz.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}



.meqsedimiz .fa-xmark {
  font-size: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to right, #ffffff2a, #479cb1ae);
  padding: 30px 50px;
  border-radius: 30px;
}
.accordion-item {
  background-color: transparent;
  border: none;
  margin: 10px 0;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  background-color: #ffffff58;
  border: 1px solid #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 35px;
  position: relative;
  color: #fff;
}

.accordion-content {
  padding: 15px;
  display: none; /* Başlangıçta içerik gizli */
  background-color: transparent;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}
.accordion-header .fa-caret-down {
position: absolute;
top: 20px;
right: 20px;
color: #002c58;
font-size: 18px;
}
.accordion-header.active {
  background-color: #479cb1;
}
.accordion-header.active .fa-caret-down {
  opacity: 0;
}



.vakansiya {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #649ad1;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;

}

.vakansiya.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}

.vakansiya .fa-xmark {
  font-size: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.vakansiya .scrollable-box {
  width: 100%; /* Kutunun genişliği */
  height: 80vh; /* Kutunun yüksekliği */

  padding: 10px; /* İç boşluk */
  overflow-y: scroll; /* Sadece dikey kaydırma çubuğu */
  overflow-x: hidden; /* Yatay kaydırmayı devre dışı bırak */
  box-sizing: border-box; /* İçeriğin taşmamasını sağlar */
}

/* Kaydırma çubuğunu özelleştirme (isteğe bağlı) */
.vakansiya .scrollable-box::-webkit-scrollbar {
  width: 15px; /* Kaydırma çubuğu genişliği */
}

.vakansiya .scrollable-box::-webkit-scrollbar-thumb {
  background: #ddd; /* Kaydırma çubuğu rengi */
  border-radius: 10px; /* Yuvarlak kenarlar */
}

.vakansiya .scrollable-box::-webkit-scrollbar-thumb:hover {
  background: #dddddda3; /* Üzerine gelince renk değişir */
}
.vakansiya h5 {
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
}
.vakansiya ul li {
  font-size: 18px;
}
.vakansiya a {
  font-style: italic;
  text-decoration: none;
  color: #ddd;
}

.partners {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #649ad1;
  position: fixed;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden; /* Başlangıçta görünmez */
  transform: scale(0.8); /* Küçültülmüş başlangıç durumu */
  z-index: 10000; /* Yeterince yüksek bir değer */
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
  border-radius: 10px;
  color: #ddd;
}
.partners .partners-card {
 position: absolute;
 right: 0;
 top: 20px;
 width: 80%;
 border-top-left-radius: 140px;
 border-bottom-left-radius: 140px;
 background-color: #739cc6;
 box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 height: 40vh;
}
.partners .partners-card .p-card {
  position: absolute;
  right: 0;
  top: 45px;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  height: 28vh;
  width: 92%;
  background-color: #567da4;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.partners.aktiv {
  opacity: 1;
  visibility: visible; /* Görünür yapar */
  transform: scale(1); /* Normal boyuta gelir */
}
.p-right {
display: flex;
justify-content: center;
align-items: center;
}
.p-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-left h3 {
  margin-left: 35px;
}
.p-right p {
font-size: 13px;
padding: 20px;
border-left: 1px solid #fff;
text-align: justify;
}
.partners .fa-xmark {
  font-size: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 9999999;
}
.swiper {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 20px;
padding: 0 30px;
}
.swiper-slide {
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
}

.right1-container img,
.right2-container img,
.right3-container img,
.right4-container img {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7) !important; /* Kalın gölge */
  transition: box-shadow 0.3s ease-in-out;
}

.right1-container img:hover,
.right2-container img:hover,
.right3-container img:hover,
.right4-container img:hover {
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.9) !important;
}



/* about starts*/

.about {
  height: 100vh;
position: relative;
z-index: 1;
}
.about .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* İçeriğin ön planda kalmasını sağlar */
}

.about .video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; /* Videonun ekranı tamamen kaplamasını sağlar */
}

.about .hexagon-cards .gfc-h1 {
  position: absolute;
  font-size: 35px;
  text-decoration: none;
  top: 37%;
  left: 19%;
  font-weight: 800;
  color: #002c58;
}
.about .hexagon-cards {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.about .hexagon-cards .card {
  width: 220px;
  height: 240px;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(57, 50, 117, 0.17) 0px -23px 25px 0px inset, rgba(50, 51, 99, 0.15) 0px -36px 30px 0px inset, rgba(59, 83, 186, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  transition: all 0.3s;
  color: #ddd;
  background-color: #002c58;
  cursor: pointer;
}
.about .hexagon-cards .card:hover {
  transform: scale(1.1);
  background-color: #f2f2f2;
}
.about .hexagon-cards .card1 {
  top: 5%;
right: 30%;
}
.about .hexagon-cards .card2 {
  top: 34%;
right: 20%;
}
.about .hexagon-cards .card3 {
  top: 63%;
  right: 30%;
}
.about .hexagon-cards .card4 {
  top: 63%;
 right: 51%;
}
.about .hexagon-cards .img-card{
  position: relative;
  width: 100%;
  height: 100%;
margin: 36vh 45vw;
}
.about .hexagon-cards .img-card img {
  position: absolute;
  border-radius: 50%;
  width: 220px;
  box-shadow: rgba(252, 252, 252, 0.8) 0px 32px 70px 4px;
}
.about .hexagon-cards h1 {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 100;
  text-transform: uppercase;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about .hexagon-cards .card img {
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px solid #002c58;
}

/* about ends */


/* trainings start */

.trainings {
  height: 100vh;
  background-color: #a1c6eb;
}
.training-left , .training-right {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
.trainings .training-left .card {
  height: 30%;
  width: 100%;
  margin-left: 10px;
  border-radius: 40px;
  cursor: pointer;
}
.trainings .training-left {
  gap: 25px;
}
.training-right .video-background {
 width: 100%;
 height: 100%;
 position: relative;
}
.training-right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.video-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 79, 204, .2);
  z-index: 10; 
  border-radius: 20px;
}
.trainings .training-card1 {
  background: url('./images/telimler/telim.jpeg');
  background-size: cover;
  object-fit: cover;
}
.trainings .training-card2 {
  background: url('./images/telimler/telim3.jpeg');
  background-size: cover;
  object-fit: cover;
}
.trainings .training-card3 {
  background: url('./images/telimler/telimci1.jpeg');
  background-size: cover;
  object-fit: cover;
}
.trainings .training-left h5 {
  position: absolute;
top: 30px;
left: 10px;
font-size: 25px;
text-transform: capitalize;
font-weight: 500;
color: #000;
padding: 20px;
background: #dddddd71;
border-radius: 20px;

}










/* trainings end */



/* blog starts */

.blog {
  height: 100vh;
  background: url('./images/blog/blog-bg');
  background-size: cover;
}
.blog .blog-cards .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px; /* Kartlar arasındaki boşluk */
  flex-wrap: nowrap; /* İçeriğin sarılmasına izin ver */
  height: 80vh;
}
.blog h1 {
  border: 1px solid #000;
}
.blog .blog-cards .card {
  border: 1px solid #000;
  background-color: #ddd;
  height: 60vh;
  border-radius: 30px;
width: 14vw;
}
/* blog ends */



/* footer starts*/
.footer {
  height: 25vh;
background-color: #002c58;
}
.footer .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-img img {
  width: 200px;
}
.footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-links a {
  font-size: 18px;
  color: #fff;
  padding: 0 12px;
}
/* footer ends */


@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }

  .slider .list .item .content .title {
    font-size: 50px;
  }
}

@media(min-width:768px) and (max-width:992px) {
  .intro {
    height: 450px;
  }

  .thumbnail .item {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
  }

  .xidmet .description li {
    font-size: 22px;
    white-space: nowrap;
  }

  .xidmet .content .title {
    font-size: 35px !important;
    margin-bottom: 20px;
  }
}

@media(min-width:992px) {
  .xidmet .description li {
    font-size: 22px;
    white-space: nowrap;
  }
.fa-bars {
  display: none !important;
}
  .xidmet .content .title {
    font-size: 30px !important;
    margin-bottom: 20px;
  }

  .thumbnail .item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    position: relative;
  }
}

@media(max-width:576px) {
 .header .nav-links {
display: none !important;
 }
 .header {
  height: 10vh;
 }
 .introduction {
  height: 90vh !important;
  background-position: center top !important;
  background: url('images/header/mobilefon.jpg');
  background-size: cover;
 }
 .xidmet .slider  h1 {
  font-weight: 800;
  position: absolute;
  bottom: 25px;
  right: 20px;
}


.footer img {
  margin-top: 50px;
}
}